@{
    ViewBag.Title = "BackOffice";
}

<h2>Pagina Admin - BackOffice</h2>

L'id dell'Admin loggato è: @ViewBag.Id

@using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { @class = "logout-form" }))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Logout</button>
}